@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-gold-50: #f9f5e3;
  --color-gold-100: #f0e6c0;
  --color-gold-400: #eac54f;
  --color-gold-500: #d3af37;
  --color-gold-600: #b08d1e;
  --color-gold-950: #423204;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}